<!DOCTYPE html>
<html>

<head>
    <title>404</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="/images/weather.png">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h4>{{errorMessage}}</h4>
    </div>
    {{>footer}}
</body>

</html>