<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="/images/weather.png">
</head>

<body>
    <div class="main-content">{{>header}}
        <p>This site site was created by Kavish Pandit.It uses data from mapbox.com and darksky.net!</p>
    <img class="potrait" src="images/profile.JPG"></div>
    {{>footer}}
</body>

</html> 